.collection {
  width: min(900px, 90%);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  margin-bottom: 7rem;
}
.listArtists {
  width: min(350px, 100%);
  height: 80vh;
  padding: 1rem;
  border: 1px solid var(--lightGrey);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.listArtists__item {
  height: 100px;
  border-bottom: 1px solid var(--transparentYellow);
  border-left: 7px solid var(--transparentYellow);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  transition: border 0.3s;
  cursor: pointer;
}
.listArtists__item--active {
  border-left: 7px solid var(--coralRed);
  border-bottom: 1px solid var(--coralRed);
}
.textInfo {
  width: calc(100% - 100px);
}
.poster {
  width: 100px;
  height: 100px;
  background: var(--middleGrey);
}
.poster > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistName,
.songTitle {
  width: min(200px, 100%);
  min-height: 15px;
  margin-bottom: 5px;
  background: var(--lightGrey);
}
.artistName {
  margin-top: 1rem;
  font-weight: 600;
  color: var(--darkGrey);
}
.songTitle {
  color: var(--middleGrey);
}
.placeTitle {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
}
.bg--hidden {
  background: none;
}
.artistInfo {
  width: min(400px, 100%);
  place-self: center;
  height: 20vh;
  margin: 0 0 1rem;
}
.artistInfo > * {
  margin-bottom: 5px;
  text-align: center;
}
.artistInfo__name {
  font-size: clamp(1.3rem, 1.7rem, 3vw);
  font-weight: 600;
  color: var(--darkGrey);
}
.artistInfo__track {
  font-size: clamp(1.1rem, 1.3rem, 2vw);
  font-weight: 500;
  color: var(--middleGrey);
}
.artistInfo__album {
  font-weight: 500;
  color: var(--middleGrey);
}
.openTrackList {
  margin-top: 1rem;
  place-self: center;
}
.artist__trackList {
  color: var(--middleGrey);
  font-weight: 500;
  padding: 3px;
}

@media (max-width: 900px) {
  .collection {
    grid-template-columns: 1fr;
  }
  .listArtists {
    width: 100%;
    height: auto;
  }
}
