.slider {
  width: min(900px, 100%);
  /* background: var(--transparentYellow); */
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}
.slideContainer {
  width: 100%;
  height: 250px;
  position: absolute;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  /* background: var(--darkBlue); */
  padding: 2rem;
  display: grid;
  top: -100%;
  transition: all 0.3s;
}
.emptyQuery {
  font-size: clamp(1.2rem, 2rem, 4vw);
  color: var(--darkGrey);
  place-self: center;
}
.slideContainer--active {
  position: relative;
  top: 0;
}
.slide {
  position: absolute;
  width: min(300px, 90%);
  height: 250px;
  background: var(--coralRed);
  border: 1rem solid var(--mainWhite);
  transition: all 0.3s;
  cursor: pointer;
}
.slide:hover {
  border: 1rem solid var(--transparentYellow);
}
.slide-template {
  background: var(--lightGrey);
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide__title {
  width: 90%;
  padding: 1rem;
  display: grid;
  place-items: center;
  background: var(--mainWhite);
  color: var(--darkBlue);
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__btns > * {
  position: absolute;
  top: 1rem;
  width: 40px;
  height: 40px;
  background: var(--mainWhite);
  display: grid;
  place-items: center;
  padding: 4px;
  cursor: pointer;
  z-index: 10;
}

#slide-right,
#slide-left {
  color: var(--coralRed);
  font-size: 2rem;
  transition: all 0.3s;
}
.slide__next {
  right: 2rem;
}

.slide__prev {
  left: 2rem;
}
.slide__next > i {
  transform: rotate(-30deg);
}
.slide__prev > i {
  transform: rotate(30deg);
}
.slide__next:hover > i,
.slide__prev:hover > i {
  transform: rotate(0);
  transform: scale(1.1);
}
